<ion-header>
  <ion-toolbar>
    <ion-title>
      Prueba1-2B Topicos Especiales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/ionic.png" alt="ionic" />
      <ion-card-header>
        <ion-card-subtitle>Tabs</ion-card-subtitle>
        <ion-card-title>¡Bienvenidos!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esta es una aplicación con el template de Tabs, la cual recibe la edad de una persona y la calcula con la fecha actual mediante una función y además muestra un curriculum.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
